extends base
block content
	section
	each data in getdata
		section.main
			.left
				img(src=`${data.image}` height='auto' alt='yes' width='100%' style='border-right: 1px solid black;padding: 4px 4px;')
			.right(style='padding: 4px 4px;') 
				h1 #{data.moviename} 
				<br>
				p(style='font-weight:700;') #{data.moral}
				<p><span style="font-weight: 700";>Actors:</span> #{data.actors}</p><br>
				<p><span style="font-weight: 700;">Review::-></span>#{data.review}.</p>	
	 
